DB_USERNAME=hackaton-b
DB_PASSWORD=hackaton-b
JWT_SECRET=Y2hhbmdlbWUtaW4tcHJvZHVjdGlvbi10aGlzLW11c3QtYmUtYXQtbGVhc3QtMjU2LWJpdHMtbG9uZw
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=
